extends common/layout

block content
  main
    .mainContainer
      section.howItWorks
        h1 How Dreamshare works?
        .steps
          input.steps__button(type='button', value='STEP 1')
          h3 Sed leo enim, condimentum
          span
            | Quisque libero libero, dictum non turpis in, luctus semper lorem.
            | Donec rhoncus a leo sit amet facilisis.
        .steps
          input.steps__button(type='button', value='STEP 2')
          h3 Morbi velit risus
          span
            | Nulla venenatis tempor dui in molestie. Nulla quis dictum purus,
            |sit amet porttitor est.
        .steps
          input.steps__button(type='button', value='STEP 3')
          h3 Sed leo enim, condimentum
          span
            | Quisque libero libero, dictum non turpis in, luctus semper lorem.
            | Donec rhoncus a leo sit amet facilisis.
      // HowItWorks end
      section.meetPartner
        h3 Meet a partner for your best holiday
        .partner
          .avatar
          h3 Bradley Hunter
          span Based in Chicago. I love playing tennis and loud music.
        .partner
          .avatar
          h3 Diana Wells
          span
            | Living in Athens, Greece. I love black and white classics,
            | chillout music and green tea.
        .partner
          .avatar
          h3 Marie Bennett
          span
            | Currently living in Colorado. Lover of art, languages and
            | travelling.
        .partner
          .avatar
          h3 Christopher Pierce
          span
            | Star Wars fanatic. I have a persistent enthusiasm to create new
            | things.
        input.meetPartner__button(type='button', value='See other partners')
      // end meetPartner
      section.holidayIdeas
        h3 Discover holiday activity ideas
        .activity
          .mask
          h4 Sports and Activis
        .activity
          .mask
          h4 Wellness and Health
        .activity
          .mask
          h4 Extreme Sports and Expeditions
        .activity
          .mask
          h4 Games
        .activity
          .mask
          h4 Culture and Education
        .activity
          .mask
          h4 Enjomet and Relaxation
        .activity
          .mask
          h4 Trevelling
      // end holdayIdeas
      section.interests
        h3 Crate your holiday activity
        span Hi! What are your holiday interests?
        input.interests__text(type='text', placeholder='Enter your interests')
        input.interests__button(type='button', value='Search partners')
