footer
  .footContainer
    h3 DREAMSHARE
    h4 Company
    ul
      li About
      li Contact
      li Press
      li Blog
      li Terms and Privacy
      li Help
    h4#pt Partners
    .author
      span DESIGNED BY
      .imgAuthor
