header
  .headerContainer
    .mask
    .nav
      h3 DREAMSHARE
      input.nav__logIn(type='button', value='Log in')
      input.nav__signUp(type='button', value='Sign up')
    .headerPromo
      h3 DREAMSHARE
      h1 SHARE YOUR HOLIDAY DREAM
      span And find the perfect partner to fullfill it
      input.headerPromo__button(type='button', value='Find your holiday partner')